<!doctype html>
<html lang="en" ng-app="steamnews">
  <head>
    <meta charset="utf-8">
    <title>SteamNews - RSS Feeds for Steam Games</title>
    <link rel="stylesheet" href="/static/foundation.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>

    <script>
      var app = angular.module('steamnews', []);
      function GameListCtrl($scope, $http) {
        $scope.games = INSERT_GAMES_HERE;
        $scope.delayedQuery = "";
        $scope.query = "";
        $scope.limit = 500;
        $scope.split_queries = [];
        $scope.timeout = null;

        $scope.windows = true;
        $scope.mac = true;
        $scope.linux = true;
        $scope.early_access = false;

        $scope.$watch("delayedQuery", function() {
          if ($scope.timeout != null) {
            clearTimeout($scope.timeout);
          }

          $scope.timeout = setTimeout(function() {
            $scope.$apply(function() {
              // performing the split once every 400ms is way, way better
              $scope.query = $scope.delayedQuery;
              $scope.split_queries = $scope.delayedQuery.split(',');

              for (var i = 0; i < $scope.split_queries.length; ++i) {
                $scope.split_queries[i] = $scope.split_queries[i].replace(/^ +/, '').replace(/ +$/, '');
              }
            });
          }, 400);
        });

        $scope.FilterGame = function(game) {
          var show_windows = $scope.windows;
          var show_mac = $scope.mac;
          var show_linux = $scope.linux;
          var early_access = $scope.early_access;

          if (!((show_linux && game.linux) || (show_windows && game.windows) || (show_mac && game.mac))) {
            return;
          }

          if (early_access && !game.early_access) {
            return;
          }

          if ($scope.query.length == 0) {
            return game;
          }

          for (var i = 0; i < $scope.split_queries.length; ++i) {
            var query = $scope.split_queries[i];
            if (query.length && game.name.toLowerCase().indexOf(query) != -1) {
              return game;
            }
          }
        };
      };
    </script>
  </head>
  <body ng-controller="GameListCtrl">
    <br>
      <div class="row">
        <fieldset>
          <legend>SteamNews</legend>
          <p>SteamNews takes the news from Steam Community pages and turns them into RSS, to make it easier for you to keep up with games as they're updated via your favourite news reader.</p>
          <p>This is mostly useful for Early Access games, that are updated frequently.</p>
          <p>You can search for multiple games by separating search terms with a comma.</p>
          <p>Feedback and complaints welcome by email to nathan at this domain.</p>
        </fieldset>
      </div>
    <div class="row">
      <div class="small-4 columns">
        <input type="text" placeholder="Search" ng-model="delayedQuery">
      </div>
      <div class="small-5 columns" style="padding-top:0.5em">
        <input type="checkbox" id="windows" ng-model="windows"><label for="windows">Windows</label>
        <input type="checkbox" id="mac" ng-model="mac"><label for="mac">Mac</label>
        <input type="checkbox" id="linux" ng-model="linux"><label for="linux">Linux</label>
        <input type="checkbox" id="early-access" ng-model="early_access"><label for="early-access">Early Access</label>
      </div>
      <div class="small-1 columns" style="padding-right: 0px">
        <label class="right inline" for="limit">Max</label>
      </div>
      <div class="small-2 columns">
        <select id="limit" ng-model="limit">
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
          <option value="10000">No Limit</option>
        </select>
      </div>
    </div>
    <div class="row" ng-cloak>
      <div class="large-12 columns">
        <table>
          <thead>
            <tr>
              <th width="400">Name</th>
              <th width="400">URL</th>
            </tr>
          </thead>
          <tbody>
            {% raw %}
            <tr ng-repeat="game in games | filter:FilterGame | orderBy:'name' | limitTo:limit">
              <td>
                <a target="_blank" href="http://store.steampowered.com/app/{{ game.appid }}">
                  {{ game.name }}
                </a>
              </td>
              <td>
                <a href="http://www.getoffmalawn.com/steamnews/{{ game.appid }}.atom">
                  http://www.getoffmalawn.com/steamnews/{{ game.appid }}.atom
                </a>
              </td>
            </tr>
            {% endraw %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
